<div class="row">
  <div class="col-3 border-right border-dark">

    <form class="form-inline mb-2 justify-content-between">
      <input 
        type="text" 
        class="form-control" 
        id="eventName" 
        aria-describedby="eventName" 
        placeholder="Enter Event Name" 
        [(ngModel)]="event_name" 
        name="event"
      >
      <button type="submit" class="btn btn-primary" (click)="onEventAdd()">Add</button>
    </form>

    <ul class="list-group">
      <event-item 
        *ngFor="let event of events; let i = index" 
        [event]="event"
        [active_index]="i"
        (setActiveToDoList)="setToDoList($event)"
      ></event-item>
    </ul>

  </div>
  <div class="col-9">
    <event-dashboard 
      [toDoList]="active_toDo_list"
    ></event-dashboard>
  </div>
</div>
